@keyframes pulse {
    0% { opacity: 0.7; }
    50% { opacity: 1.0; }
    100% { opacity: 0.7; }
}

.sx-hover {
    outline: 2px dotted red !important;
    animation: pulse 0.5s infinite ease-in-out;
}

.sx-select {
    outline: 2px dashed orange !important;
    animation: pulse 0.5s infinite ease-in-out;
}

.sx-click {
    outline: 3px double magenta !important;
    animation: pulse 0.5s infinite ease-in-out;
}