.sx-hover {
    outline: 15px solid rgba(255, 0, 0, 0.4) !important;
}

.sx-select {
    outline: 15px solid rgba(255, 165, 0, 0.4) !important;
}

.sx-click {
    outline: 15px solid rgba(255, 165, 0, 0.6) !important;
}